@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  position: relative;
  background: linear-gradient(45deg, #adadad6a, #e73c7e53, #23a5d586, #23d5ab67);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100vw 200vh;

}

div {
  display: flex;
  flex-direction: column;
}