.sideNavBar {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 10px;
    isolation: isolate;

    position: fixed;
    width: 30vw;
    height: 100vh;
    right: 0px;
    top: 0px;

    /* Surface overlay */

    background: rgba(194, 240, 255, 0.64);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sideNavBar-header {
    /* Side Nav Header */
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 0px 0px 10px;
    gap: 10px;
    isolation: isolate;

    position: absolute;
    width: 415px;
    height: 58px;
    left: 0px;
    top: 0px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.sideNavBar-title {
    /* Menu */
    width: 100%;
    height: fit-content;

    /* Headline 4 */

    font-family: 'Montserrat Alternates';
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
    font-style: normal;
    font-weight: bolder;
    font-size: 34px;
    line-height: 36px;
    /* identical to box height, or 106% */


    color: #ffffff;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.sideNavBar-underline {
    /* Line 2 */
    position: absolute;
    width: 80%;
    height: auto;
    left: 10px;
    top: 69px;

    border-bottom: 1px solid #ffffff;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.494));

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.sideNavBar-body {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 100%;
    height: 80%;

    mix-blend-mode: normal;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

@media screen and (max-width: 950px) {
    .sideNavBar {
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0px;
        gap: 10px;
        position: fixed;
        width: 100%;
        height: fit-content;
        top: 0px;
        background: rgb(194, 240, 255);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 30;
    }

    .sideNavBar-header {
        display: none;
    }

    .sideNavBar-body {
        /* Auto layout */
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
    
        width: 100%;
        height: 80%;
    
        mix-blend-mode: normal;
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
        z-index: 1;
    }
}