.classification {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem 1rem;
  gap: 1rem;
  width: 60vw;
  height: auto;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.classification-photo {
  width: 40%;
  height: auto;
  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.classification-text {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  width: 60%;
  height: auto;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.classification-name {
  width: 100%;
  height: auto;

  /* Headline 6 */

  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: bolder;
  font-size: 1.2rem;
  line-height: 1.4rem;
  /* identical to box height, or 160% */

  letter-spacing: 0.1rem;

  color: #000000;
}

.classification-bio {
  display: flex;
  position: relative;
  height: auto;

  /* Body 2 */

  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1rem;
  letter-spacing: 0.05rem;

  color: #000000;
  word-wrap: break-word;
}


@media screen and (max-width: 950px) {
  .classification {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }
}